<!doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/app.css" type="text/css">
    <title>Spotify Search</title>
  </head>
  <body>
    <div class="title">
      <img src="/static/images/Spotify_Icon_RGB_Green.png" alt="Spotify icon" class="icon img-fluid" >
      <h1>Search</h1>
    </div>
    <div class="text-center">
        <a href="https://accounts.spotify.com/authorize?client_id=7549d87cf8414fbdbf7955b1856f0239&response_type=code&redirect_uri=https%3A%2F%2Fsenioerproject.onrender.com&scope=user-top-read">
            <button class="btn btn-green" type="button" id="button-addon2">Sign into Spotify</button>
        </a>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>